<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
현재 날짜 : <span th:text="${#calendars.format(date, 'yyyy-MM-dd hh:mm:ss')}"></span>
<br>
잔액 : <span th:text="${#numbers.formatInteger(money, 1, 'COMMA')}"/>
<ul>
    <li th:text="${member[0].name}"></li>
    <li th:text="${member[0].email}"></li>
    <li th:text="${member[0].age}"></li>
</ul>

<hr>

<!--반복문-->
<table style="border-collapse:collapse;">
    <tr th:each="vo : ${member}">
        <td th:text="${vo.name}" style="border:1px solid black;"></td>
        <td th:text="${vo.email}" style="border:1px solid black;"></td>
        <td th:text="${vo.age}" style="border:1px solid black;"></td>
    </tr>
</table>
</body>
</html>