<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 표현식 정리 $ : 변수 / @ : url / # :  메세지 / ~ : jsp의 include와 비슷-->
    <link rel="stylesheet" th:href="@{/css/bbs_css.css}"></link>
</head>
<body>
    <section>
        <h2>게시글 목록</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>제목</th>
                    <th>작성일</th>
                    <th>수정일</th>
                    <th>회원ID</th>
                </tr>
            </thead>
            <tbody>
            <!-- 컨트롤러에서 바인딩해서 넘어온  articles-->
                <tr th:each="article : ${ articles }">
                    <td th:text="${ article.id }">ID</td>
                    <td><a th:text="${ article.title }" th:href="@{/article/content(id=${ article.id })}"></a></td>
                    <td th:text="${ #dates.format( article.created, 'yyyy-MM-dd HH:mm:ss' ) }">작성일</td>
                    <td th:text="${ #dates.format( article.updated, 'yyyy-MM-dd HH:mm:ss' ) }">수정일</td>
                    <td th:text="${ article.member_id }">회원ID</td>
                </tr>
            </tbody>
        </table>

        <input type="button" value="글쓰기" th:onclick="|location.href='@{/article/add?member_id=1}'|"/>
    </section>
</body>
</html>