<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/newArticle_css.css}"></link>
    <script>
        function send(f){
            // alert(f.title.value + "/" + f.description.value + "/" + f.member_id.value);
            f.submit();
        }
    </script>
</head>
<body>
    <section class="container">
        <h1>새 글 작성</h1>

        <form method="post" th:action="@{/article/add}">
            <input type="hidden" th:value="${member_id}" name="member_id"/>
            <div>
                <label>제목</label>
                <input type="text" name="title"/>
            </div>
            <div>
                <label>내용</label>
                <textarea type="text" name="description"></textarea>
            </div>
            <input type="button" value="목록으로" th:onclick="|location.href='@{/article/list}'|"/>
            <input type="button" value="작성"  th:onclick="send(this.form)"/>
        </form>

    </section>
</body>
</html>