:root {
  --side-width: 250px;
  --header-height: 60px;
}
.side {
  position: fixed;
  background-color: #90c67c;
  height: 100%;
  width: var(--side-width);
  color: white;
  overflow-y: auto; /* 스크롤이 생김 */
}
.main {
  padding-left: var(--side-width);
}
.main header {
  position: fixed;
  height: var(--header-height);
  width: 100%;
  background-color: #e1eebc;
}
.main section {
  padding-top: var(--header-height);
  overflow-y: auto;
}
