/* 1. 전체 선택자 */
* {
  color: blue;
}
/* 2. 태그 선택자 */
h3 {
  background-color: yellow;
}
p {
  color: tomato;
}
/* 3. 클래스 선택자 */
.class1 {
  color: yellowgreen;
}
.class2 {
  font-size: 30px;
}
/* 4. 아이디 선택자 */
#id1 {
  background-color: indigo;
}
/* 5. 그룹 선택자 */
#select1,
#select2 {
  background-color: orangered;
}
/* 6. 자식, 자손 선택자 */
#test1 ul li {
  background-color: pink;
}
#test1 > ul > li {
  color: red;
}

/* 7. 속성 선택자 */
div[name="name1"] {
  /* = 정확히 일치 */
  background-color: pink;
}
div[name~="name1"] {
  /* ~= 단어가 포함되어있는지 */
  background: yellow;
}
div[class*="-c"] {
  /* *= 부분 일치 */
  color: red;
}
div[class^="cl"] {
  /* ^= 시작 일치 */
  background: blue;
}
div[class|="div"] {
  /*  |= 시작 일치 */
  background: cyan;
}
div[class$="div"] {
  /* $= 끝 일치 */
  background: pink;
}

/* 8. 형제 선택자 */
#test2 ~ div {
  /* 동일한 부모를 가진 요소 중에 
     #test2 이후에 등장하는 모든 형제 div 선택 */
  background: beige;
}
#test2 + div {
  /* #test2 바로 뒤에 있는 div만 선택 */
  background: yellow;
}
/* 9. 반응 선택자 */
.area {
  width: 100px;
  height: 100px;
  cursor: pointer;
}
/* :active 마우스를 눌렀을 때 */
#active-test:active {
  background-color: yellow in !important;
  color: red;
}
/* :hover 마우스를 올렸을 때 */
#hover-test:hover {
  background-color: maroon;
  color: white;
}
/* input 요소에 포커스가 갔을 때 적용 */
input[type="text"]:focus {
  background: pink;
}
/* 체크박스에 체크 상태인 경우 */
input[type="checkbox"]:checked {
  width: 20px;
  height: 20px;
}
/* button 클릭 가능한 경우 */
button:enabled {
  background-color: violet;
}
button:disabled {
  background: yellowgreen;
}
/* 10. 구조 선택자 */
#test3 li:first-child {
  background: salmon;
}

#test3 li:last-child {
  background: skyblue;
}
/* nth-child(숫자, odd - 홀수, even - 짝수), 순서 기준 */
#test3 li:nth-child(4) {
  background: darkcyan;
}
/* type 기준 */
#test3 li:nth-of-type(4) {
  color: white;
}
/* 아래에서 세 번째가 li가 아닌 p이므로 적용이 안됨 */
#test3 li:nth-last-child(3) {
  background: hotpink;
}
#test3 li:nth-last-of-type(4) {
  background: seagreen;
}
/* 11. 가상 요소 선택자 */
#test4 p::before {
  content: "앞";
  color: blue;
  background: yellow;
}
#test4 p::after {
  content: "뒤";
  color: white;
  background: black;
}
/* 12. 선택자 우선순위 */
/* !important > 인라인 스타일(style="") > 아이디 선택자(id) > 클래스 선택자(.class)> 태그 선택자*/
#test {
  width: 200px;
  height: 200px;
}
div.class5 {
  background: pink !important;
}
div#test5 {
  background: skyblue;
}
