/* font-family */
#ff1 {
  font-family: Arial, Helvetica, sans-serif;
}
#ff2 {
  font-family: "궁서", serif;
}
#ff3 {
  font-family: "돋움", sans-serif;
}
#ff4 {
  font-family: "Black Han Sans", sans-serif;
}

/* font-weight bold : 아니면 숫자로 나타냄*/
#fw1 {
  font-weight: bold;
}
#fw2 {
  font-weight: 900;
}
#fw3 {
  font-weight: 100;
}

/* font-size  */
#fs1 {
  font-size: 32px;
}
#fs2 {
  /* 부모가 30px -> 30 x 2 =60px */
  font-size: 2em;
}
#fs3 {
  /* 기본 크기 16px * 2 = 32px */
  font-size: 2rem;
}
#fs4 {
  /* 부모 크기 30px * 2 = 60px  */
  font-size: 200%;
}
/* font-style */

#fs5 {
  font-style: italic;
}
#fs6 {
  font-style: obique;
}
/* font variant */
#fv {
  font-variant: small-caps;
}
/* font */
#font1 {
  /* font-style font-variant fotn-weight font-size/line-height */
  font: italic small-caps bold 32px/2 "Black Han Sans", sans-serif;
}

#font2 {
  /* font-size: 2rem; */
  /* font-family: "Black Han Sans" ; */
}

#font2 {
  font: 2rem "Black Han Sans", sans-serif;
}
/* color */
#c-name {
  /* 색상명 : 브라우저가 인식하는 기본 색상명 (web Safe Colors, 216가지) */
  color: red;
}
#c-16 {
  /* #RRGGBB */
  color: #dd882e;
}
#c-rgb {
  /* Red(0~225), Green(0~225), Blue(0~225), Alpha(투명도, 0~1) */
  color: rgb(93, 34, 34);
  color: rgb(0, 0, 0, 0.5);
}
#c-hsl {
  /* 색상환(H, 0~360) 채도(S, 0~100%) 밝기(L, 100%) 투명도(A, 0~1) */
  color: hsl(200, 50%, 50%, 0.2);
}

/* text-decoration */
#td1 {
  text-decoration: underline;
}
#td2 {
  text-decoration: overline;
}
#td3 {
  text-decoration: line-through;
}
#td4 {
  text-decoration: none;
}

/* text-transform */
#tt1 {
  text-transform: uppercase;
}
#tt2 {
  text-transform: lowercase;
}
#tt3 {
  text-transform: capitalize;
}
/* text-shadow */
.shadow {
  font-size: 50px;
  font-weight: 900;
}
#ts1 {
  color: orangered;
  /* x축 y축 blur(흐림) color */
  text-shadow: 5px 5px 5px yellow;
}
#ts2 {
  color: white;
  text-shadow: 0px 0px 10px yellowgreen;
}
#ts3 {
  text-shadow: 0px 0px 4px gray, 0px -5px 4px yellow, 0px -10px 8px orangered,
    0px -15px 15px orangered, 0px -22px 20px red;
}
/* white-space */
#whs {
  white-space: pre-wrap;
}
/* letter-spacing / word-spacing */
#ls {
  \letter-spacing: 10px;
}
#ws {
  word-spacing: 20px;
}
/* text-align */
#ta1 {
  taxt-align: left;
}
#ta2 {
  text-align: right;
}
#ta3 {
  text-align: center;
}
#ta4 {
  text-align: justify;
}
/* text-indent */
#ti {
  text-indent: 10px;
}
/* line-height */
#lh {
  line-height: 1.8;
}
/* text-overflow */
#to {
  background: beige;
  width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* list-style */
ul.circle {
  list-style: circle;
}
ul.square {
  list-style: square;
}
ul.none {
  list-style: none;
}
