/* max-width는 데스크탑 기준 */
.response-color {
  background: lightblue;
}
@media (max-width: 1000px) {
  /* 최대 1000px까지 반영 */
  .response-color {
    background-color: cadetblue;
  }
}
@media (max-width: 600px) {
  /* 최대 600px까지 반영 */
  .response-color {
    background-color: cornflowerblue;
  }
}
/* min-width는 모바일 기준 */
.response-color2 {
  background-color: coral;
}
@media (min-width: 600px) {
  /* 최소 600px부터 반영 */
  .response-color2 {
    background-color: darkseagreen;
  }
}
@media (min-width: 1000px) {
  /* 최소 1000px부터 반영 */
  .response-color2 {
    background-color: deeppink;
  }
}
.flex-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.flex-container .item {
  background-color: dodgerblue;
  height: 150px;
}
@media (min-width: 480px) {
  /* 460px를 넘어가면 row형태로 바뀜 */
  .flex-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .flex-container .item {
    flex: 1;
  }
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.grid-container .item {
  background-color: lightpink;
  height: 100px;
}
@media (min-width: 500px) {
  /* 500px보다 커지면 두 줄이 된다. */
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  /* 800px보다 커지면 네 줄이 된다. */
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
