body {
  text-align: center;
  /* 보이는 것들을 모두 한 가운데 두기 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
img {
  /* 완벽한 원형 사진 만드는 방법! */
  border-radius: 50%;
  /* 먼저 정사각형을 만든다 */
  width: 200px;
  height: 200px;
  /* 사진 원본을 유지한 채로 원형이 된다. */
  object-fit: cover;
  /* 사진 사이의 간격 */
  margin: 5px;
}
button {
  /* 기본 보더가 깔려있어 없애고 시작 */
  border: none;
  /* 기본 폰트 사이즈로 변경 */
  font-size: 1rem;
  /* 상하/좌우로 넓힘 */
  padding: 7px 15px;
  font-weight: bold;
  /* 모서리 약간 둥글게 */
  border-radius: 5px;
  /* 커서 올리면 반응하도록 변경 */
  cursor: pointer;
  background: coral;
  color: indigo;
}
button:last-child {
  background: indigo;
  color: coral;
}
h2 {
  font-style: italic;
  visibility: hidden;
  font-size: 1rem;
}
span {
  margin-left: 4px;
}
